<h1> <%= @bar.name %> </h1>

<h3>Rating: <%= @average.to_f.round(1) %> </h3>

<div>
  <p> <%= @bar.address %> </p>
  <p> <%= @bar.city %>, <%= @bar.state %>, <%= @bar.zip %> </p>
</div>

<div>
  <%= link_to 'Edit Bar', edit_bar_path(@bar) %>
</div>

<div>
  <% unless @bar.url.nil? %>
    <p> <%= @bar.url %> </p>
  <% end %>
</div>

<h3>Reviews:</h3>

<body>
  <div>
    <!-- <% unless @bar.reviews.nil? %> -->
      <!-- <ul>
        <% @reviews.each do |review| %>
          <li> <%= review.rating %> | <%= review.body %> |
            <%= link_to 'Edit', edit_bar_review_path(@bar, review) %> |
            <%= link_to 'Delete', bar_review_path(@bar, review), method: :delete, params:{review: review.id}, data: {confirm: "Are you sure?"} %>
            <h1 class="item-title" data-id="<%= review.id.to_s %>" id="<%= review.id.to_s %>"</h1>
          </li>

        <% end %>
      </ul>
    <% end %> -->
    <div id="ReviewList"></div>

  </div>
</body>

<div>
  <%= link_to "Add Review", new_bar_review_path(@bar) %>
</div>
