<%= notice %>

<h1> <%= @bar.name %> </h1>

<h3>Rating: <%= @average.to_f.round(1) %> </h3>

<div>
  <p> <%= @bar.address %> </p>
  <p> <%= @bar.city %>, <%= @bar.state %>, <%= @bar.zip %> </p>
</div>

<div>
  <% unless @bar.url.nil? %>
    <p> <%= @bar.url %> </p>
  <% end %>
</div>
