
<div class="row container">
  <div class="columns large-6 small-12">

    <% if @average.to_f.round(1).nan? %>
      <h3>Not Yet Rated </h3>
    <% else %>
      <h3>Rating: <%= @average.to_f.round(1) %> </h3>
    <% end %>

<br />
<h1> <%= @bar.name %> </h1>

    <div id="bar-details">
      <p> <%= @bar.address %> </p>
      <p> <%= @bar.city %>, <%= @bar.state %>, <%= @bar.zip %> </p>
    </div>

    <div id="bar-details">
      <% unless @bar.description.nil? %>
        <p> <%= @bar.description %> </p>
      <% end %>
    </div>
  </div>


  <div class="barlist columns large-6 small-12">
    <div>
      <%= image_tag("beer.jpg") %>
    </div>
  </div>

<% if @user.id == @bar.user_id || @user.admin? %>
  <div>
    <%= link_to 'Edit Bar', edit_bar_path(@bar) %>
  </div>
<% end %>


<div>
  <% unless @bar.url.nil? %>
    <p> <%= @bar.url %> </p>
  <% end %>

</div>

<div id="ReviewList"></div>

<div>
  <%= link_to "Add Review", new_bar_review_path(@bar) %>
</div>
